<% var isIndex = page.path === 'index.html' %>

<%- partial('_partial/head') %>
<body>
  <div id="container">
    <div id="wrap">
      <%- partial('_partial/header', null, {cache: false}) %>

      <% if (!isIndex) { %>
      <%- partial(is_post() ? '_partial/sidebar-post' : '_partial/sidebar') %>
      <% } %>
      <%- partial('_partial/ad') %>
      <%- body %>
    </div>
    <%- partial('_partial/mobile-nav', null, {cache: false}) %>
    <%- partial('_partial/after-footer') %>
  </div>
  <%- js('js/mobile-nav.js') %>
</body>
</html>
