<%- partial('_partial/head') %>
<body>
  <div id="container">
    <div id="wrap">
      <%- partial('_partial/header', null, {cache: !config.relative_link}) %>

      <%- partial(is_post() ? '_partial/sidebar-post' : '_partial/sidebar') %>
      <%- partial('_partial/ad') %>
      <%- body %>
    </div>
    <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
    <%- partial('_partial/after-footer') %>
  </div>
</body>
</html>