<% var isIndex = page.path === 'index.html' %>

<article id="<%= post.layout %>-<%= post.slug %>" class="article">

  <% if (page.type === 'docs' && page.release === 'v3') { %>
    <div class="tip warning">
      You're browsing the documentation for v3.x. For v2.x, click <a href="/docs/v2/">here</a>.
    </div>
  <% } else if (page.type === 'docs' && page.release === 'v2') { %>
    <div class="tip warning">
      You're browsing the documentation for v2.x. For v3.x, click <a href="/docs/v3/">here</a>.
    </div>
  <% } %>

  <h1><%- page.title %></h1>

  <%- page.content %>

  <% if (!isIndex) { %>
  <footer class="article-footer">
    Caught a mistake? Edit this page on <a href="https://github.com/socketio/socket.io-website/blob/master/source/<%- page.source %>" target="_blank" class="link">GitHub</a>
  </footer>
  <% } %>
</article>
