<header id="header">
  <a id="logo" href="<%- url_for('/') %>"></a>
  <nav class="main-nav">
    <ul class="nav-items">
      <li>
        <input id="docsearch-input" type="text" placeholder="Search..." />
      </li>
      <li>
        <div class="dropdown">
          <span class="dropdown-toggle nav-item">Learn</span>
          <ul class="dropdown-content">
            <li>
              <a href="<%- url_for('/get-started/chat/') %>" class="nav-link">Get started</a>
            </li>
            <li>
              <a href="<%- url_for('/docs/') %>" class="nav-link">Documentation</a>
            </li>
            <li>
              <a href="<%- url_for('/demos/chat/') %>" class="nav-link">Demos</a>
            </li>
            <li class="anchor"></li>
            <li>
              <a href="<%- url_for('/docs/server-api/') %>" class="nav-link">Server API</a>
            </li>
            <li>
              <a href="<%- url_for('/docs/client-api/') %>" class="nav-link">Client API</a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="dropdown">
          <span class="dropdown-toggle nav-item">Resources</span>
          <ul class="dropdown-content">
            <li>
              <span class="nav-links-header">Getting help</span>
              <ul>
                <li>
                  <a href="https://slackin-socketio.now.sh/" target="_blank" class="nav-link">Slack</a>
                </li>
                <li>
                  <a href="https://stackoverflow.com/questions/tagged/socket.io" target="_blank" class="nav-link">Stack Overflow</a>
                </li>
              </ul>
            </li>
            <li class="anchor"></li>
            <li>
              <span class="nav-links-header">News</span>
              <ul>
                <li>
                  <a href="<%- url_for('/blog/') %>" class="nav-link">Blog</a>
                </li>
                <li>
                  <a href="https://twitter.com/SocketIO" target="_blank" class="nav-link">Twitter</a>
                </li>
              </ul>
            </li>
            <li class="anchor"></li>
            <li>
              <span class="nav-links-header">Links</span>
              <ul>
                <li>
                  <a href="https://github.com/socketio/socket.io" target="_blank" class="nav-link">GitHub</a>
                </li>
                <li>
                  <a href="https://cdnjs.com/libraries/socket.io" target="_blank" class="nav-link">CDN</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a href="https://opencollective.com/socketio" target="_blank" class="nav-item">Support Socket.IO</a>
      </li>
    </ul>
  </nav>
</header>
