<nav id="mobile-nav" class="mobile-nav-hidden">
    <ul class="nav-items">
        <li>
            <a href="#" class="mobile-close">
                <img src="<%- url_for('/images/close.svg') %>" alt="Close">
            </a>
        </li>
        <li>
          <div>
            <span>Learn</span>
            <ul>
              <li>
                <a href="<%- url_for('/get-started/') %>" class="nav-link">Get started</a>
              </li>
              <li>
                <a href="<%- url_for('/docs/' + (page.release || 'v3')) %>" class="nav-link">Documentation</a>
              </li>
              <li>
                <a href="<%- url_for('/demos/chat/') %>" class="nav-link">Demos</a>
              </li>
              <li class="anchor"></li>
              <li>
                <a href="<%- url_for('/docs/' + (page.release || 'v3') + '/server-api/') %>" class="nav-link">Server
                  API</a>
              </li>
              <li>
                <a href="<%- url_for('/docs/' + (page.release || 'v3') + '/client-api/') %>" class="nav-link">Client
                  API</a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div>
            <span>Resources</span>
            <ul>
              <li>
                <span class="nav-links-header">Getting help</span>
                <ul>
                  <li>
                    <a href="https://socketio-slackin.herokuapp.com/" target="_blank" class="nav-link">Slack</a>
                  </li>
                  <li>
                    <a href="https://stackoverflow.com/questions/tagged/socket.io" target="_blank" class="nav-link">Stack
                      Overflow</a>
                  </li>
                </ul>
              </li>
              <li class="anchor"></li>
              <li>
                <span class="nav-links-header">News</span>
                <ul>
                  <li>
                    <a href="<%- url_for('/blog/') %>" class="nav-link">Blog</a>
                  </li>
                  <li>
                    <a href="https://twitter.com/SocketIO" target="_blank" class="nav-link">Twitter</a>
                  </li>
                </ul>
              </li>
              <li class="anchor"></li>
              <li>
                <span class="nav-links-header">Links</span>
                <ul>
                  <li>
                    <a href="https://github.com/socketio/socket.io" target="_blank" class="nav-link">GitHub</a>
                  </li>
                  <li>
                    <a href="https://cdnjs.com/libraries/socket.io" target="_blank" class="nav-link">CDN</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a href="https://opencollective.com/socketio" target="_blank" class="nav-item">Support Socket.IO</a>
        </li>
    </ul>
  <% if (page.type === 'api' || page.type === 'misc') { %>
    <h3><%- page.title %></h3>
    <%- toc(page.content, { list_number: false }) %>
  <% } else if (page.type === 'docs' || page.type === 'demos') { %>
    <ul class="items">
      <% if (page.type === 'demos') { %>
        <li><h3>Demos</h3></li>
      <% } %>

      <% site.pages.find({ type: page.type, release: page.release }).sort('order').each((p) => { %>
        <% if (page.type === 'docs') { %>
          <% if (p.order === 1) { %>
            <li><h3>Documentation</h3></li>
          <% } else if (p.order === 101) { %>
            <li><h3>Connection</h3></li>
          <% } else if (p.order === 201) { %>
            <li><h3>Server</h3></li>
          <% } else if (p.order === 301) { %>
            <li><h3>Client</h3></li>
          <% } else if (p.order === 351) { %>
              <li><h3>Events</h3></li>
          <% } else if (p.order === 401) { %>
            <li><h3>Advanced usage</h3></li>
          <% } else if (p.order === 501) { %>
            <li><h3>Migrations</h3></li>
          <% } else if (p.order === 601) { %>
            <li><h3>Miscellaneous</h3></li>
          <% } %>
        <% } %>

        <% if (is_current(p.path, true)) { %>
          <li>
            <a href="<%- page_url(p.path) %>" class="sidebar-link selected"><%- p.short_title || p.title %></a>
            <%- toc(page.content, { list_number: false, max_depth: 2 }) %>
          </li>
        <% } else { %>
          <li>
            <a href="<%- page_url(p.path) %>" class="sidebar-link"><%- p.short_title || p.title %></a>
          </li>
        <% } %>
      <% }); %>
    </ul>
  <% } %>
</nav>
