
<aside id="sidebar">

  <ol>
    <% site.posts.sort('date', -1).forEach(function (p) { %>
    <% if (is_current(p.path, true)) { %>
      <li>
        <a href="<%- page_url(p.path) %>" class="sidebar-link selected"><%- p.title %></a>
        <%- toc(page.content, { list_number: false, max_depth: 2 }) %>
      </li>
    <% } else { %>
      <li>
        <a href="<%- page_url(p.path) %>" class="sidebar-link"><%- p.title %></a>
      </li>
    <% } %>
    <% }); %>
  </ol>

</aside>
