<aside id="sidebar">
  <% if (page.type === 'api' || page.type === 'misc') { %>
    <h3><%- page.title %></h3>
    <%- toc(page.content, { list_number: false }) %>
  <% } else if (page.type === 'docs' || page.type === 'demos') { %>
    <ol class="items">
      <% if (page.type === 'demos') { %>
        <li><h3>Demos</h3></li>
      <% } %>

      <% site.pages.find({ type: page.type, release: page.release }).sort('order').each((p) => { %>
        <% if (page.type === 'docs') { %>
          <% if (p.order === 1) { %>
            <li><h3>Documentation</h3></li>
          <% } else if (p.order === 101) { %>
            <li><h3>Connection</h3></li>
          <% } else if (p.order === 201) { %>
            <li><h3>Server</h3></li>
          <% } else if (p.order === 301) { %>
            <li><h3>Client</h3></li>
          <% } else if (p.order === 351) { %>
              <li><h3>Events</h3></li>
          <% } else if (p.order === 401) { %>
            <li><h3>Internals</h3></li>
          <% } else if (p.order === 501) { %>
            <li><h3>Migrations</h3></li>
          <% } else if (p.order === 601) { %>
            <li><h3>Miscellaneous</h3></li>
          <% } %>
        <% } %>

        <% if (is_current(p.path, true)) { %>
          <li>
            <a href="<%- page_url(p.path) %>" class="sidebar-link selected"><%- p.short_title || p.title %></a>
            <%- toc(page.content, { list_number: false, max_depth: 2 }) %>
          </li>
        <% } else { %>
          <li>
            <a href="<%- page_url(p.path) %>" class="sidebar-link"><%- p.short_title || p.title %></a>
          </li>
        <% } %>
      <% }); %>
    </ol>
  <% } %>

</aside>
