
<%
  const sponsors = [
    {
      "url": "https://FrontendMasters.com",
      "img": "https://images.opencollective.com/frontendmasters/0b9cda4/logo.png",
      "alt": "Frontend Masters"
    },
    {
      "url": "https://www.codeinwp.com/blog/",
      "img": "https://images.opencollective.com/codeinwp/db63573/logo.png",
      "alt": "Vertigo Studio SRL"
    },
    {
      "url": "https://www.casinotopp.net/",
      "img": "https://images.opencollective.com/casino-topp/1dd399a/logo.png",
      "alt": "Casino Topp"
    },
    {
      "url": "https://www.vpsserver.com",
      "img": "https://images.opencollective.com/vpsservercom/logo.png",
      "alt": "VPS Server"
    },
    {
      "url": "https://www.hosted.nl/",
      "img": "https://images.opencollective.com/hostednl/b962554/logo.png",
      "alt": "Hosted.nl"
    },
    {
      "url": "https://www.codefirst.co.uk",
      "img": "https://images.opencollective.com/codefirst/8f77c24/logo.png",
      "alt": "CodeFirst"
    },
    {
      "url": "http://www.dontpayfull.com",
      "img": "https://images.opencollective.com/dontpayfull/ff48daf/logo.png",
      "alt": "DontPayFull SRL"
    },
    {
      "url": "https://www.ramotion.com/agency/ui-ux-design",
      "img": "https://images.opencollective.com/truevendor/ddf2f01/logo.png",
      "alt": "ui ux design agency"
    },
    {
      "url": "http://xn--smlnutensikkerhet-9qbb.com",
      "img": "https://images.opencollective.com/smalanutensikkerhet/ea9fabf/logo.png",
      "alt": "smålån uten sikkerhet"
    },
    {
      "url": "https://www.kreditvergleich24.ch/",
      "img": "https://images.opencollective.com/kreditvergleich-24/fd863e6/logo.png",
      "alt": "Kreditvergleich 24"
    },
    {
      "url": "https://www.topratedbingosites.co.uk/",
      "img": "https://images.opencollective.com/topratedbingos/bfdfa77/logo.png",
      "alt": "TopRatedBingoSites.co.uk"
    },
    {
      "url": "http://www.firesticktricks.com",
      "img": "https://images.opencollective.com/fire-stick-tricks/b8fbe2c/logo.png",
      "alt": "Fire Stick Tricks"
    },
    {
      "url": "https://blokt.com/",
      "img": "https://images.opencollective.com/blokt/42db2e8/logo.png",
      "alt": "Blokt"
    },
    {
      "url": "https://tekhattan.com",
      "img": "https://images.opencollective.com/tekhattan/bc73c28/logo.png",
      "alt": "TekHattan"
    },
    {
      "url": "https://gorillasports.no/",
      "img": "https://images.opencollective.com/gorilla-sports-as/4a73081/logo.png",
      "alt": "Gorilla Sports AS"
    },
    {
      "url": "https://www.norsknettcasino.net",
      "img": "https://images.opencollective.com/norsknettcasino/3ce6d1e/logo.png",
      "alt": "Norsknettcasino"
    },
    {
      "url": "https://www.onecompare.com",
      "img": "https://images.opencollective.com/devilsblood2/avatar.png",
      "alt": "Jessie"
    },
    {
      "url": "https://clay.global",
      "img": "https://images.opencollective.com/clayglobal/2468f34/logo.png",
      "alt": "clay"
    },
    {
      "url": "https://loanscouter.com/",
      "img": "https://images.opencollective.com/lead-supply/7400b71/logo.png",
      "alt": "Loanscouter"
    },
    {
      "url": "https://fair-laan.se/",
      "img": "/images/fairlaan.png",
      "alt": "Fair Laan"
    },
    {
      "url": "https://www.norgescasino.com/",
      "img": "https://images.opencollective.com/norges-casino1/9a90f8f/logo.png",
      "alt": "Norges Casino"
    },
    {
      "url": "https://lemonlaw.site",
      "img": "https://images.opencollective.com/lemon-law/da11538/logo.png",
      "alt": "Lemon Law"
    },
    {
      "url": "https://www.dcslsoftware.com/",
      "img": "https://images.opencollective.com/dcsl-software/a662911/logo.png",
      "alt": "DCSL software"
    },
    {
      "url": "https://uxplanet.org/top-ui-ux-design-agencies-user-experience-firms-8c54697e290",
      "img": "https://images.opencollective.com/ui-ux-design-agencies/cae5dfe/logo.png",
      "alt": "UI UX Design Agencies"
    },
    {
      "url": "https://www.bonus.ca/",
      "img": "https://images.opencollective.com/bonus-finder/4b3394e/logo.png",
      "alt": "BonusFinder Canada"
    },
    {
      "url": "https://www.banksecrets.eu/",
      "img": "https://images.opencollective.com/banksecrets/632d1a9/logo.png",
      "alt": "Seolead"
    },
    {
      "url": "https://triplebyte.com/os/opencollective",
      "img": "https://images.opencollective.com/triplebyte/3f80e63/logo.png",
      "alt": "Triplebyte"
    },
    {
      "url": "https://writersperhour.com",
      "img": "https://images.opencollective.com/writers-per-hour/5787d4b/logo.png",
      "alt": "Writers Per Hour"
    },
    {
      "url": "https://bid4papers.com/write-my-essay.html",
      "img": "https://images.opencollective.com/yiannakis-ttafounas-ttafounas/c0d19ec/avatar.png",
      "alt": "Yiannakis Ttafounas Ttafounas"
    },
    {
      "url": "https://bitcasino.io",
      "img": "https://images.opencollective.com/bitcasino/fd9ebb5/logo.png",
      "alt": "Bitcasino"
    },
    {
      "url": "https://moneypug.co.uk/",
      "img": "https://images.opencollective.com/moneypug/45f8d53/logo.png",
      "alt": "MONEYPUG"
    },
    {
      "url": "https://vpngorilla.com",
      "img": "https://images.opencollective.com/vpngorilla-com/ae76cc5/logo.png",
      "alt": "VPNGorilla.com"
    },
    {
      "url": "https://mobilunity.com/",
      "img": "https://images.opencollective.com/mobilunity/e4ca372/logo.png",
      "alt": "Mobilunity"
    },
    {
      "url": "https://www.directory.net",
      "img": "https://images.opencollective.com/link-directory/7ce0e89/logo.png",
      "alt": "Link Directory"
    },
    {
      "url": "https://www.securityguardtrainingcentral.com/",
      "img": "https://images.opencollective.com/sgtcentral/f1bfad7/logo.png",
      "alt": "Security Guard Training Central"
    },
    {
      "url": "https://medium.com/@niksundin/best-web-design-companies-1872e445775f",
      "img": "https://images.opencollective.com/top-web-design-agencies/d92d747/logo.png",
      "alt": "Top Web Design Agencies"
    },
    {
      "url": "https://www.casinotop.com/",
      "img": "https://images.opencollective.com/casinotop-com/10fd95b/logo.png",
      "alt": "CasinoTop.com"
    },
    {
      "url": "https://www.bugsnag.com/platforms?utm_source=Open Collective&utm_medium=Website&utm_content=open-source&utm_campaign=2019-community&utm_term=",
      "img": "https://images.opencollective.com/bugsnag-stability-monitoring/c2cef36/logo.png",
      "alt": "Bugsnag Stability Monitoring"
    },
    {
      "url": "https://superkredit.net/",
      "img": "https://images.opencollective.com/superkredit/6eb441d/logo.png",
      "alt": "Superkredit"
    },
    {
      "url": "https://matchbanker.es/",
      "img": "https://images.opencollective.com/matchbanker-es/88d096f/logo.png",
      "alt": "Matchbanker.es"
    },
    {
      "url": "https://matchbanker.no/",
      "img": "https://images.opencollective.com/matchbanker-no/e45d223/logo.png",
      "alt": "Matchbanker.no"
    },
    {
      "url": "https://www.bonus.net.nz/free-spins",
      "img": "https://images.opencollective.com/bonusfinder-new-zealand/5e2d35b/logo.png",
      "alt": "BonusFinder New Zealand"
    },
    {
      "url": "https://www.bonusfinder.com/casino",
      "img": "https://images.opencollective.com/bonusfinder-com-us/8a47a19/logo.png",
      "alt": "Bonusfinder.com US"
    },
    {
      "url": "https://www.bonus.com.de/freispiele",
      "img": "https://images.opencollective.com/bonusfinder-deutschland/646169e/logo.png",
      "alt": "BonusFinder Deutschland"
    },
    {
      "url": "https://www.bonus.ca/fr/",
      "img": "https://images.opencollective.com/bonusfinder-casino-en-ligne/099bd9e/logo.png",
      "alt": "BonusFinder Casino en Ligne"
    },
    {
      "url": "https://casinoutanreg.com/casino-utan-svensk-licens/",
      "img": "https://images.opencollective.com/casinoutanreg/8a32cf6/logo.png",
      "alt": "Casinoutanreg"
    },
    {
      "url": "https://casino-professor.com/",
      "img": "https://images.opencollective.com/casino-professor/9e870a2/logo.png",
      "alt": "Casino Professor"
    },
    {
      "url": "https://casinoonline.casino/",
      "img": "https://images.opencollective.com/casino-online/4c8371c/logo.png",
      "alt": "Casino Online"
    },
    {
      "url": "https://www.top5credits.com/",
      "img": "https://images.opencollective.com/top5credits-com/4e61cf1/logo.png",
      "alt": "Top5Credits.com"
    },
    {
      "url": "https://mr-gamble.com",
      "img": "https://images.opencollective.com/mr-gamble/62522bc/avatar.png",
      "alt": "Mr Gamble"
    },
    {
      "url": "https://cooltechzone.com/free-vpn",
      "img": "https://images.opencollective.com/free-vpn/c2e4653/logo.png",
      "alt": "Free VPN"
    },
    {
      "url": "https://www.timesofcasino.com/",
      "img": "https://images.opencollective.com/timesofcasino/7c26210/logo.png",
      "alt": "TimesOfCasino"
    },
    {
      "url": "https://www.ivyanswer.com",
      "img": "https://images.opencollective.com/ivy-answering-service/logo.png",
      "alt": "Ivy Answering Service"
    },
    {
      "url": "https://tweaklab.org",
      "img": "https://images.opencollective.com/roland-bronnimann/avatar.png",
      "alt": "Roland Brönnimann"
    },
    {
      "url": "https://casinoutansvensklicens.casino",
      "img": "https://images.opencollective.com/casino-utan-svensk-licens/235b5e6/logo.png",
      "alt": "Casino utan Svensk Licens"
    },
    {
      "url": "https://monetta.pl",
      "img": "https://images.opencollective.com/monetta/7d65ae6/logo.png",
      "alt": "Monetta"
    },
    {
      "url": "https://onlinecasinoinformatie.com/",
      "img": "https://images.opencollective.com/ricardo-goncalves/3275f75/avatar.png",
      "alt": "Onlinecasinoinformatie.com"
    },
    {
      "url": "https://tt.edu.au",
      "img": "https://images.opencollective.com/tradie-training/4aa717f/logo.png",
      "alt": "Tradie Training"
    },
    {
      "url": "https://www.onlineesports.com",
      "img": "https://images.opencollective.com/online-esports/ec8b684/logo.png",
      "alt": "Online eSports"
    },
    {
      "url": "https://www.minitool.com",
      "img": "https://images.opencollective.com/admin-minitool/1900ab2/avatar.png",
      "alt": "Admin MiniTool"
    },
    {
      "url": "https://www.10reviews.com",
      "img": "https://images.opencollective.com/10-reviews/aa27946/logo.png",
      "alt": "10 Reviews"
    },
    {
      "url": "https://akasse-fagforening.dk/",
      "img": "https://images.opencollective.com/pinkelephant/34cb1ef/avatar.png",
      "alt": "Anders Rasmussen"
    },
    {
      "url": "http://codepilot.ai",
      "img": "https://images.opencollective.com/codepilotai/732befb/logo.png",
      "alt": "CodePilot.ai"
    },
    {
      "url": "https://builderbook.org",
      "img": "https://images.opencollective.com/kelly-burke/d256815/avatar.png",
      "alt": "Kelly Burke"
    },
    {
      "url": "https://www.airtract.com",
      "img": "/images/airtract.jpg",
      "alt": "AirTract"
    },
    {
      "url": "https://taxfreesnus.com/",
      "img": "https://images.opencollective.com/taxfreesnus-com/ebf869a/logo.png",
      "alt": "TaxFreeSnus.com"
    },
    {
      "url": "https://www.realtimecommunicationsworld.com/",
      "img": "https://images.opencollective.com/marketing-affiliates-llc/409c2d7/logo.png",
      "alt": "Real Time Communications World"
    },
    {
      "url": "https://luottopalvelut.fi",
      "img": "https://images.opencollective.com/luottopalvelut/84e2f94/logo.png",
      "alt": "Luottopalvelut"
    },
    {
      "url": "https://420couponcodes.com",
      "img": "https://images.opencollective.com/420couponcodes/8965926/logo.png",
      "alt": "420 Coupon Codes"
    },
    {
      "url": "https://www.vpnranks.com/",
      "img": "https://images.opencollective.com/vpnranks/bf02f1d/logo.png",
      "alt": "VPNRanks"
    },
    {
      "url": "https://unscramblex.com/",
      "img": "https://images.opencollective.com/unscramblex/87d6a68/logo.png",
      "alt": "Unscramblex"
    },
    {
      "url": "https://justremote.co",
      "img": "https://images.opencollective.com/justremoteco/1643235/logo.png",
      "alt": "JustRemote"
    },
    {
      "url": "https://digitalbankguide.com",
      "img": "https://images.opencollective.com/digital-bank-guide/510b89c/logo.png",
      "alt": "Digital Bank Guide"
    },
    {
      "url": "https://emailmarketingservices.io",
      "img": "https://images.opencollective.com/emailmarketingservices-io/1411cfc/logo.png",
      "alt": "Emailmarketingservices.io"
    },
    {
      "url": "https://meindivi.de/",
      "img": "https://images.opencollective.com/divi-theme/0b85da9/logo.png",
      "alt": "Divi Theme"
    },
    {
      "url": "https://rapidessay.com/",
      "img": "https://images.opencollective.com/yevgen-yanovskyy/ed3dc15/avatar.png",
      "alt": "RapidEssay"
    },
    {
      "url": "https://subbed.org",
      "img": "https://images.opencollective.com/reddit-wiki/4fb9311/logo.png",
      "alt": "Reddit Wiki"
    },
    {
      "url": "https://njohnson7.github.io/",
      "img": "https://images.opencollective.com/njohnson7/fae8bd7/avatar.png",
      "alt": "Nick Johnson"
    },
    {
      "url": "https://www.routerhosting.com/",
      "img": "https://images.opencollective.com/routerhosting/10d5f7a/logo.png",
      "alt": "RouterHosting"
    },
    {
      "url": "https://www.nettikasinot.org",
      "img": "https://images.opencollective.com/nettikasinot-org/bbd887f/logo.png",
      "alt": "Nettikasinot.org"
    },
    {
      "url": "https://nederlandsegokkasten.com/",
      "img": "https://images.opencollective.com/nederlandse-gokkasten/2d6aac9/logo.png",
      "alt": "Nederlandse Gokkasten"
    },
    {
      "url": "https://www.weclub88.net",
      "img": "https://images.opencollective.com/weclub88/6f2e3b5/logo.png",
      "alt": "WeClub88"
    },
    {
      "url": "https://lovebuddy.dk",
      "img": "https://images.opencollective.com/lovebuddy/f40602c/logo.png",
      "alt": "Lovebuddy"
    },
    {
      "url": "https://www.credimaxx.de/",
      "img": "https://images.opencollective.com/credimaxx-r-gmbh/586d178/logo.png",
      "alt": "CrediMaxx® GmbH"
    },
    {
      "url": "https://casinogringos.com/fi/kasino-ilman-rekisteroitymista",
      "img": "https://images.opencollective.com/casinogringos/1c1782c/logo.png",
      "alt": "Casinogringos"
    },
    {
      "url": "https://www.bingoparadise.co.uk",
      "img": "https://images.opencollective.com/bingo-paradise/444f55d/logo.png",
      "alt": "Bingo Paradise"
    },
    {
      "url": "https://www.bestvpn.co/",
      "img": "https://images.opencollective.com/bestvpnco/7361855/logo.png",
      "alt": "BestVPN.co"
    },
    {
      "url": "https://www.pelisivut.com",
      "img": "https://images.opencollective.com/pelisivut/04f08f2/logo.png",
      "alt": "Pelisivut"
    },
    {
      "url": "https://www.kasinot.fi",
      "img": "https://images.opencollective.com/kasinot-fi/e09aa2e/logo.png",
      "alt": "Kasinot.fi"
    },
    {
      "url": "https://www.coinnewsspan.com",
      "img": "https://images.opencollective.com/coinnewsspan/c0933b4/logo.png",
      "alt": "CoinNewsSpan"
    },
    {
      "url": "https://www.bestecasinobonussen.nl/",
      "img": "https://images.opencollective.com/belito-entertainment-company-limited/26bfc24/logo.png",
      "alt": "BELITO ENTERTAINMENT COMPANY LIMITED"
    },
    {
      "url": "https://www.paraskasino.fi",
      "img": "https://images.opencollective.com/paraskasino/a39c3d6/logo.png",
      "alt": "Paraskasino"
    }
  ];
  const textOnlySponsors = [];

%>

{% raw %}
<main class="site-main home" role="main">
  <header class="entry-header fading">
    <h1 class="entry-title">SOCKET.IO 2.0 IS HERE</h1>
    <h2 class="entry-subtitle"><span class="row">FEATURING THE FASTEST AND MOST RELIABLE</span> <span class="row">REAL-TIME ENGINE</span></h2>
  </header><!-- .entry-header -->
  <div id="screen-fill">

    <div class="window editor fading">
      <div class="header">
        <span class="bullet bullet-red"></span><span class="bullet bullet-yellow"></span><span class="bullet bullet-green"></span><span class="title">~/Projects/tweets/index.js</span>
      </div>
      <div class="body">
        <ol class="code">
          <li><span class="code"><span class="v">var</span> io = <span class="io">require('socket.io')(80)</span>;</span></li>
          <li><span class="code"><span class="v">var</span> cfg = require('./config.json');</span></li>
          <li><span class="code"><span class="v">var</span> tw = require('node-tweet-stream')(cfg);</span></li>
          <li><span class="code">tw.track('socket.io');</span></li>
          <li><span class="code">tw.track('javascript');</span></li>
          <li><span class="code">tw.on('tweet', <span class="fn">function</span>(tweet){</span></li>
          <li><span class="code">&nbsp;&nbsp;<span class="io">io.emit('tweet', tweet)</span>;</span></li>
          <li><span class="code">});</span></li>
        </ol>
      </div>
    </div>

    <div class="window browser fading">
      <div class="header">
        <span class="bullet bullet-red"></span><span class="bullet bullet-yellow"></span><span class="bullet bullet-green"></span><span class="title"><span class="scheme">https://</span>your-node-app.com</span>
      </div>
      <div class="body">
        <p>Tweets about <b>socket.io</b> and <b>javascript</b></p>
        <ul id="tweets" class="tweets"></ul>
      </div>
    </div>

    <span class="arrow fading"><a href="#examples">B</a></span>
  </div>

  <div class="entry-content">
    <p class="centered">
      <i class="larger">Socket.IO enables real-time, bidirectional and event-based communication.</i><br />
      <i>It works on every platform, browser or device, focusing equally on reliability and speed.</i>
    </p>

    <div id="entries">
      <div id="examples">
        <div class="example-column left">
          <div class="example-entry icon analytics">
            <h2>Real-time analytics</h2>
            <p>Push data to clients that gets represented as real-time counters, charts or logs.</p>
          </div>
          <div class="repel"></div>
          <div class="example-entry icon binary">
            <h2>Binary streaming</h2>
            <p>Starting in 1.0, it's possible to send any blob back and forth: image, audio, video.</p>
          </div>
        </div>

        <div class="example-column right">
          <div class="example-entry icon chat">
            <h2>Instant messaging and chat</h2>
            <p>Socket.IO's "Hello world" is a chat app in just a few lines of code.</p>
          </div>
          <div class="repel"></div>
          <div class="example-entry icon collab">
            <h2>Document collaboration</h2>
            <p>Allow users to concurrently edit a document and see each other's changes.</p>
          </div>
        </div>
      </div><!-- #examples -->

      <div id="information">
        <div class="information-column left">
          <div class="information-entry">
            <h3>USED BY EVERYONE</h3>
            <p>From Microsoft Office, Yammer, Zendesk, Trello... to hackathon winners and little startups.</p>
            <p>One of the most powerful JavaScript frameworks on GitHub, and most depended-upon npm modules.</p>
          </div>
        </div>

        <div class="information-column right">
          <div class="information-entry">
            <h3>IMMENSELY POWERFUL, YET EASY TO USE</h3>
            <p>Our getting started guide will show you how to create lots of amazing applications in fewer than 200 lines of code.</p>
            <p>We're not making that up. Get started <a href="/get-started/chat">now</a>.</p>
          </div>
        </div>
      </div>
{% endraw %}

      <div id="sponsors">
        <p>OUR AWESOME SPONSORS</p>

        <%_ for (let sponsor of sponsors) {_%>
        <div class="sponsor">
          <a href="<%- sponsor.url %>" target="_blank">
            <img src="<%- sponsor.img %>" alt="<%- sponsor.alt %>">
          </a>
        </div>
        <%_ } _%>
        <%_ for (let sponsor of textOnlySponsors) {_%>
        <div class="sponsor">
          <a href="<%- sponsor.url %>" target="_blank">
            <%- sponsor.name %>
          </a>
        </div>
        <%_ } _%>
      </div>

{% raw %}
      <div>
        <div class="information-column left">
          <div class="information-entry">
            <h3>JOIN THE COMMUNITY</h3>
            <ul style="margin-left: 0px; list-style-type: none; padding-left: 0">
              <li style="margin-bottom: 5px;">Real-time help? Find us on <a href="https://slackin-socketio.now.sh/">Slack</a></li>
              <li style="margin-bottom: 5px;">Contribute code or report issues on <a href="https://github.com/socketio/socket.io">GitHub</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endraw %}
